* {
    margin: 0;
    padding: 0;
    font-family: 'IRANYekan', serif;
}

body, html {
    height: 100%;
    margin: 0;
}

@font-face {
    font-family: 'IRANYekan';
    src: url('./assets/fonts/Qs_Iranyekan.ttf');
}